<div>
  <nav class="navbar navbar-inverse">
    <div class="container">
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li class="active">
            <a href="list">project</a>
          </li>
          <li>
            <a href="about">About</a>
          </li>
          <li>
            <a href="contact">Contact</a>
          </li>
        </ul>
        <ul class="nav navbar-nav pull-right">
          <li *ngIf="isLoggedIn()">
            <a (click)="logout()">Logout, {{user.username}}</a>
          </li>
          <li *ngIf="!isLoggedIn()">
            <a [routerLink]="['/login']">Login</a>
          </li>
          <li *ngIf="!isLoggedIn()">
            <a [routerLink]="['/register']">Register</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="container theme-showcase" role="main">
    <div class="jumbotron">
      <h1>VX Group</h1>
      <p>Portal aktuelnih vesti</p>
    </div>
    <router-outlet></router-outlet>
  </div>
</div>