<div class="container">
  <div class="row">
    <span>
      <strong>Naslov</strong>
      <input name="name" class="input inline" (input)="selectionChanged()" [(ngModel)]="filter.name" />
    </span>
    <span>
      <strong>Kategorija</strong>
      <select name="category" class="inline" [(ngModel)]="filter.categoryId" (change)="selectionChanged()" *ngIf="categories">
        <option [ngValue]="0">All</option>

        <option *ngFor="let category of categories" [ngValue]="category.id">{{category.name}}</option>
      </select>

    </span>
  </div>
</div>