<form class="form" (ngSubmit)="save()" ngNativeValidate *ngIf="news">
  <div class="form-group">
    <label>Header</label>
    <input required type="text" name="name" class="form-control" [(ngModel)]="news.header" />
  </div>
  <div class="form-group">
    <label>Brand</label>
    <select required name="category" class="form-control" [compareWith]="byId" [(ngModel)]="news.category">
      <option *ngFor="let category of categories" [ngValue]="category">{{category.name}}</option>
    </select>
  </div>

  <div class="form-group">
    <label>Description</label>
    <input required type="text" name="description" class="form-control" [(ngModel)]="news.description" />
  </div>
  <div class="form-group">
    <label>Content</label>
    <input required type="text" name="content" class="form-control" [(ngModel)]="news.content" />
  </div>
  <div class="pull-right">
    <input type="submit" name="save" class="btn btn-primary" value="save" />
    <button class="btn btn-warning" (click)="reset()">Reset</button>
  </div>
</form>