.messageBox {
    margin: 5px;
    padding: 10px;
    background: white;

}

ul{
    list-style: none;
}

.content {
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    box-sizing: border-box;
}