<div class="container content" *ngIf="news">
    <h3>{{news.header}}</h3>
    <p>
        {{news.content}}
    </p>
    <!-- Znam da je ruzno -->

    <!-- <app-comment-component></app-comment-component> -->
    <ul>
        <li *ngFor="let c of comments">
            <div class="messageBox">
                <p>
                    Author: {{c.author}}
                </p>
                <p>
                    Message: {{c.content}}
                </p>
                <button class="btn btn-info" (click)="commentOnComment(c)">Answer</button>
                <ul>
                    <li *ngFor="let child of c.comments">
                        <p>
                            Author: {{child.author}}
                        </p>
                        <p>
                            Message: {{child.content}}
                        </p>
                    </li>
                </ul>
                <form class="form" role="form" (ngSubmit)="addCommentToComment(c)" ngNativeValidate *ngIf="childComment">
                    <div class="form-group">
                        <label for="comment">Comment:</label>
                        <textarea required name="comment" class="form-control" [(ngModel)]="childComment.content" rows="5" id="comment"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="comment">Autor:</label>
                        <input type="text" required name="author" class="form-control" [(ngModel)]="childComment.author" rows="5" id="comment" />
                    </div>
                    <div class="form-group">
                        <button class="btn btn-default">Add child</button>
                    </div>
                </form>
            </div>
        </li>
    </ul>

    <!-- global comment box -->
    <form class="form" role="form" (ngSubmit)="add()" ngNativeValidate>
        <div class="form-group">
            <label for="comment">Comment:</label>
            <textarea required name="comment" class="form-control" [(ngModel)]="comment.content" rows="3" id="comment"></textarea>
        </div>
        <div class="form-group">
            <label for="comment">Autor:</label>
            <input type="text" required name="author" class="form-control" [(ngModel)]="comment.author" id="comment" />
        </div>
        <div class="form-group">
            <button class="btn btn-default">Add</button>
        </div>
    </form>
</div>